<button onclick="create_modle()">生成模型或方法</button>
<button onclick="create_code()">生成编码方法</button>
<script type="text/javascript">
	// 跳转生成模型界面
	  function create_modle(){
	  	window.location.href="http://192.168.2.15:3000/select/index"
	  }
	// 跳转查看编码界面
  function create_code(){
    	window.location.href="http://192.168.2.15:3000/code/index"
  }
</script>
