<form action="get_table_name/index">
	<input type="text" name="fileUrl">
	<input type="submit" value="新建模型">
</form>
<form action="get_table_filed/index">
	<input type="text" name="fileUrl">
	<input type="submit" value="创建写入方法">
</form>


